*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato',sans-serif; 
}
:root{
    --color:rgb(235,180,66);
}
.container{
    display: flex;
    margin: 2rem;
}
.container .left{
    padding-top: 9rem;
    padding-left: 5rem;
    line-height: 4rem;
}
.container .left h1{
    color:var(--color) ;
    font-size: 3rem;
}
.container .left h3,p{
    color: whitesmoke;
}
.container .left a{
    text-decoration: none;
    color: var(--color) ;
    border: 2px solid;
    border-color: rgba(143, 141, 136, 0.9);
    border-style: double;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.container .left .a{
    margin-top: 2rem;
}
.hero{
   margin-top: 0;
   background-color: var(--color);
    background-image: linear-gradient(to right, black 60%,var(--color)50%);
    height: 100%;
}
.right img{
    padding-left: 7rem;
}


/*********About*******/

.container-sec{
    display: flex;
    margin: 2rem;
    justify-content: center;
}
.about{
    background-color: black;
    margin-top: -2rem;
}
.about .right-img{
  border: 10px solid;
  border-color: gray;
  box-shadow: 10px 10px;
  height: 450px;
  width: 300px;
  margin-top: 7rem;
  background-color: whitesmoke;
  outline-style: solid;
  outline-width: 0.5rem;
  outline-offset: 10px;
  outline-color: var(--color);
}
.about .container-sec .right-img img{
    padding-left:-3rem ;
    margin-left: -6.5rem;
    margin-top: -3rem;
}
.about .container-sec .content{
    margin-top: 12rem;
    margin-left: 4rem;
}
.about .container-sec .content h1{
    color: whitesmoke;
    font-size: 3rem;
    border-bottom: 1px solid var(--color) ; 
}
.about .container-sec .content p{
    color: rgb(202, 191, 191);
    margin-top: 2rem;
    line-height: 2rem;
}
.about .container-sec .content a{
    margin-right: 1rem;
    text-decoration: none;
    color: var(--color) ;
    border: 2px solid;
    border-color: rgba(143, 141, 136, 0.9);
    border-style: double;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.about .container-sec .content .anch{
    display: flex;
    margin-top: 4rem;
    padding-left: 1rem;
}
.about .container-sec .content .anch #hire{
    background-color: var(--color);
    color: whitesmoke;
}
